*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif ;
}
body{
    background: linear-gradient(90deg, #181716, #1a0a4f) ;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container{
  background-color: #fff;
width: 350px;
padding: 20px;
border-radius: 20px;
box-shadow: 0,4px,8px rgba(0, 0, 0, 0.1);
} 

h1{
    font-size: 24px;
    color: #333;
}

.input-container{
 display: flex;
 margin: 20px;
 gap: 3px;

}

#new-task{
flex: 1;
padding: 10px;
font-size: 16px;
border-radius: 25px;
border:  1px ,solid,rgb(5, 5, 5);
}

#add-task{
padding: 10px;
background-color: #f67d4d;
color: #fff;
border: none;
border-radius: 25px;
cursor: pointer;
}

ul{
list-style: none;
padding: 0;
}

li{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #f9f9f9;
 margin:10px ;
 padding: 10px;
 border-radius: 5px;

}

button.delete-task{
background-color: transparent;
border: none;
color: #ff0101;
font-size: 20px;
cursor: pointer;
}
 .Complete{
text-decoration: line-through;
color: grey;

 }